USE [master]
GO
/****** Object:  Database [NetTest]    Script Date: 4/19/2021 7:05:54 PM ******/
CREATE DATABASE [NetTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetTest', FILENAME = N'D:\Users\jmr4\NetTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetTest_log', FILENAME = N'D:\Users\jmr4\NetTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetTest]
GO
USE [NetTest]
GO
/****** Object:  Table [dbo].[Transfer]    Script Date: 4/19/2021 7:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transfer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CurrencyCode] [varchar](5) NULL,
	[ExchangeAmount] [decimal](20, 2) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
